##### blah ###########################################################
HOME                        = .
RANDFILE                    = ./PROCESS/$ENV::PROCESSPATH/.rnd
oid_section                 = new_oids

################################################################
[ new_oids ]
# MS Certificate Template Name
certificateTemplate         = 1.3.6.1.4.1.311.20.2
# MS CA Version (DER) INT(02):LENGTH(03):MINOR:DOT(00):MAJOR
caVersion                   = 1.3.6.1.4.1.311.21.1
## MS Previous CA Certificate Hash (DER)
preCACertHash               = 1.3.6.1.4.1.311.21.2

################################################################
[ ca ]
default_ca                  = CA_default

################################################################
[ CA_default ]
dir                         = .
certs                       = ./CA
new_certs_dir               = ./CERTSTORE
crl_dir                     = ./CRLS
RANDFILE                    = ./PROCESS/$ENV::PROCESSPATH/.rand
database                    = ./PROCESS/$ENV::PROCESSPATH/index.txt
serial                      = ./PROCESS/$ENV::PROCESSPATH/serial
default_days                = 3650
default_md                  = sha256
preserve                    = no
policy                      = policy_match
default_crl_days            = 30
name_opt                    = ca_default
cert_opt                    = ca_default

unique_subject              = no

################################################################
[ policy_match ]
countryName                 = match
organizationName            = supplied
organizationalUnitName      = supplied
#1.organizationalUnitName   = supplied
commonName                  = supplied

################################################################
[ req ]
default_bits                = 2048
distinguished_name          = req_distinguished_name
x509_extensions             = v3_ca
input_password              = password
output_password             = password
string_mask                 = nombstr

################################################################
[ req_distinguished_name ]
countryName                         = Country Name (C=)
countryName_default                 = US
countryName_min                     = 2
countryName_max                     = 2
0.organizationName                  = Organization Name (O=)
0.organizationalUnitName            = Organizational Unit Name 1 (OU=)
0.organizationalUnitName_default    = $ENV::ORGUNITNAME
#1.organizationalUnitName           = Organizational Unit Name 2 (OU=)
#1.organizationalUnitName_default   = $ENV::ORGUNITNAME
commonName                          = $ENV::COMMONNAMESTRING
commonName_max                      = 64
commonName_default                  = $ENV::COMMONNAME

################################################################
[ req_attributes ]
# something

################################################################
[ v3_ca ]
## This section is used when creating a new CA certificate
nsComment                     = "OpenSSL generated CA certificate"
subjectKeyIdentifier          = hash
basicConstraints              = critical, CA:TRUE
keyUsage                      = digitalSignature, keyCertSign, cRLSign

## For Common Policy
#caVersion                    = DER:02:03:01:00:01
#preCACertHash                = DER:04:14:76:B7:60:96:DD:14:56:29:AC:75:85:D3:70:63:C1:BC:47:86:1C:8B
#subjectKeyIdentifier         = hash
#keyUsage                     = critical, keyCertSign, cRLSign
#basicConstraints             = critical, CA:TRUE
#extendedKeyUsage             = 1.3.6.1.5.5.7.3.2,1.3.6.1.5.5.7.3.1,1.3.6.1.5.5.7.3.3,1.3.6.1.5.5.7.3.4,1.3.6.1.5.5.7.3.8,1.3.6.1.5.5.7.3.6,1.3.6.1.5.5.7.3.7,1.3.6.1.4.1.311.10.3.4

